/* Block */
.webinar-teaser{
    border: 1px solid red;
    width: 600px;    
    background-image: linear-gradient(to bottom right, yellow, red);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    font-family: adobe-clean-regular;
    font-weight: bold;
    line-height: 1.25;    
}

/* Title */
.webinar-teaser > div:nth-child(1) > div {
    font-size: 30px;
}

/* Date */
.webinar-teaser > div:nth-child(2) > div {
    color: white;
    font-weight: bold;
    font-size: 20px;  
    font-style: italic;
    text-align: center;
    margin: 20px 100px;
}

/* Speakers */
.webinar-teaser > div:nth-child(3) > div {
    font-size: 18px;    
    font-weight: normal;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    padding: 3px 12px;    
}
.webinar-teaser > div:nth-child(3) > div::before {
    content: "Speakers: ";
    font-weight: bold;
}

/* Button */
.webinar-teaser-button {
    background-color: #1473e6;
    border-radius: 25px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    color: white;   
    margin-left: 400px;  
}